{% extends "layout.html" %}
{% block title %}Add New Recipe{% endblock %}
{% block heading %}New Recipe{% endblock %}

{% block content %}
<form action ="/add" method="POST">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="dishName">Dish Name</label>
                <input type="text" class = "form-control" id="dishName" name = "dishName" aria-describedby="dishNameHelp" required>
                <small id="dishNameHelp" class = "form-text text-muted">Ex: Spicy Spare Ribs.</small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="cuisine">Cuisine</label>
                <input type="text" class = "form-control" id="cuisine" name = "cuisine" aria-describedby="cuisineHelp" required>
                <small id="" class = "form-text text-muted">Ex: Fusion cuisine, Haute cuisine.</small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="course">Course</label>
                <input type="text" class = "form-control" id="course" name = "course" aria-describedby="courseHelp" required>
                <small id="courseHelp" class = "form-text text-muted">Ex: Main Dish, Pork.</small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="required_tools">Required Tools</label>
                <input type="text" class = "form-control" id="required_tools" name = "required_tools" aria-describedby="required_toolsHelp" required>
                <small id="required_toolsHelp" class = "form-text text-muted">Ex: oven, pressure cooker.</small>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="ingredients">Ingredients</label>
                <textarea type="text" class = "form-control" id="ingredients" name = "ingredients" aria-describedby="ingredientsHelp" required></textarea>
                <small id="ingredientsHelp" class = "form-text text-muted">Ex: 2	Pork Spare Ribs, 1/2 tsp	Salt</small>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="instructions">Instructions</label>
                <textarea type="text" class = "form-control" id="instructions" name = "instructions" aria-describedby="instructionsHelp" required></textarea>
                <small id="instructionsHelp" class = "form-text text-muted">Write instructions for this recipe</small>
            </div>
        </div>
        </div>
        <div class="col-md-12 text-center">
            <a href ="{{ url_for('recipe') }}"class= "btn btn-warning"><i class = " fas fa-times-circle right"></i> Cancel
            </a>
            <button class="btn btn-primary"><i class = "far fa-edit"></i> Submit</button>
        </div>

</form>


{% endblock %}