{% extends "layout.html"%}
{% block title %}Recipe list{% endblock %}

{% block heading %} Recipie List {% endblock %}


{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<form action = "{{ url_for('search')}}" method ="post">
    <div class="row">
        <div class = "col-md-7 padding-div mt-2 ">
            <input type ="text" class = "form-control search-control" id="querySearch" name ="querySearch"  value ="{{name}}"  placeholder="Search dishes by name, cuisine or course.." minlength="3">    
        </div>
        
        <div class = "col-md-5 padding-div text-center">
            <button type="submit" class ="btn btn-primary mb-2 mt-2 mb-2"><i class = "fas fa-search mr-1"></i>Search</button>
            <a href = "/add"><button type = "button" class = "btn btn-success ml-3 mt-2 mb-2"><i class ="fas fa-plus-circle mr-1"></i>New</button></a>
            <a href ="/" class = "btn  ml-3 mb-2 mt-2 btn-warning"><i class ="fas fa-sync-alt mr-1"></i>Reset</a>
        </div>
    </div>
</form>


<form>
    <div class ="row mt-3">
        <div class = "col-md-12">
            <table class = "table table-sm" id="recipeTable">
                <thead>
                    <tr>
                        <th scope="col" width ="10">#</th>
                        <th scope="col" width ="30">Title</th>
                        <th scope="col" width ="20">Cuisine</th>
                        <th scope="col" width ="20">Course</th>
                        <th scope="col" width ="30">Required Tools</th>
                        <th scope="col" width ="10">Created at</th>
                        <th scope="col" width ="10">Actions</th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for recipe in recipes %}
                     <tr>
                         <th scope="row">{{ loop.index }}</th>
                         <td>{{recipe.dish}}</td>
                         <td>{{recipe.cuisine}}</td>
                         <td>{{recipe.course}}</td>
                         <td>{{recipe.required_tool}}</td>
                         <td>{{recipe.created_at}}</td>
                        <td>
                            <a href= "{{ url_for('view',recipe_id=recipe._id) }}"  class = "btn btn-sm btn-info"><i class = "far fa-eye"></i></a>
                            <a href= "{{ url_for('update',recipe_id=recipe._id) }}"  class = "btn btn-sm btn-warning"><i class = "far fa-edit"></i></a>
                            <a href = "{{ url_for('remove',recipe_id=recipe._id) }}" type="submit" class = "btn btn-sm btn-danger delete" onclick="removeRecipeAlert(event, '{{recipe._id}}')" ><i class = "far fa-trash-alt"></i></a>
                        </td>
                     </tr>
                    {% endfor %}
                 </tbody>
            </table>    
        </div>    
    </div>


</form>

{% endblock %}

{% block script %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        /* Applying the jquery dataTables to the recipe table */
        $(document).ready( function () {
            $('#recipeTable').DataTable({ "searching": false});
        } );

        function removeRecipeAlert(event,recipe_id){
                event.preventDefault()
                       swal({
                            title: "Are you sure?",
                            text: "Once deleted, you will not be able to recover this!",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                        .then((willDelete) => {
                             if (willDelete) {
                                $.getJSON('/remove', {
                                    id: recipe_id,
                                }, function(data) {
                                location.reload(true);

                                });
                            }
                            
                        });
                }
                
    </script>
{% endblock %}